.scrollable {
  height: 80vh;
  overflow: auto;
  box-shadow: none;
  border-radius: 0px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.list-group-item {
  border: none;
  border-bottom: 2px solid lightgrey;
  padding-left: 0.3rem;
  margin-left: 0.6rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}